/*logo: Font-Raleway, Weight-700; Font-Roboto Weight-700,500,400*/
/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; #212121 */

/*body {
  background-color: E5E5E5;
  font-family: Roboto, sans-serif;
  font-style: normal;
}*/

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-background: #ffffff;
  --second-background: #2f303a;
  --our_team-background: #f5f4fa;
  --main-color: #ffffff;
  --tel_link-color: #757575;
  --nav_link-color: #212121;
  --heading-color: #212121;
  --logo-link: #000000;
  --mail_link-tel_footer: rgba(255, 255, 255, 0.6);
  --section-pt: 94px;
  --section-pb: 94px;
  --margin-bottom-studia: 10px;
  --icon-color: #afb1b8;
  --modal-background: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
}
/* ul {
  list-style: none;
}*/
/*=====COMPONENTS =========*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*margin-left: auto;
  margin-right: auto; */

  /* outline: 2px solid tomato; */
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.list {
  list-style: none;
}

/* a {
  text-decoration: none;
}*/
.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}
/*====== END COMPONENTS======/
/*======HEADER=======*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header .container {
  display: flex;
  align-items: center;
}
.page-header {
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  transition: transfom 250ms var(--timing-function);
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.logo-link {
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--logo-link);
}
.logo-web {
  color: var(--accent-color);
}
.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  /*line-height/font-size;16/14=1.14*/
  letter-spacing: 0.02em;
  cursor: pointer;

  color: var(--nav_link-color);

  transition: color 250ms var(--timing-function);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.activ-link {
  color: var(--accent-color);
}
.nav-list .nav-item {
  position: relative;
}
.activ-link::after {
  content: "";
  position: absolute;
  display: block;
  top: 250%;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  /*line-height/font-size;16/14=1.14*/
  letter-spacing: 0.02em;
  cursor: pointer;

  color: var(--tel_link-color);
}

.contacts:not(:first-child) {
  margin-left: 50px;
}
.mail-link {
  color: var(--tel_link-color);
  display: flex;
  align-items: center;

  transition: color 250ms var(--timing-function);
}

.mail-link:hover .contakt-icon,
.mail-link:focus .contakt-icon,
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.tel-link {
  color: var(--tel_link-color);
  margin-left: auto;
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
.contact-list {
  margin-left: auto;
  display: flex;
  align-items: center;

  transition: transfom 250ms var(--timing-function);
}
.contact-list:hover,
.contact-list:focus {
  color: var(--accent-color);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
.contakt-icon {
  margin-right: 10px;
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);
}
/*====== END HEADER=======*/

/*======= HERRO ========*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  color: var(--main-background);
  background: var(--second-background);
  overflow: auto;
}
.hero-title {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 40px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-color);
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/img-herro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Modal Button */
.modal-btn {
  padding: 10px 32px;
  display: block;
  margin: auto;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;

  color: var(--main-color);
  background: var(--accent-color);

  transition: transfom 250ms var(--timing-function);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*===== END HERRO ====*/
/* ==== ADVATAGE === */

.about-advantage {
  padding-top: 94px;
  padding-bottom: 47px;
  /* 94/2=47 */
  /*text-align: center;*/
}
.list-about-advantage {
  display: flex;
  /*align-items: center;*/
  /*justify-content: space-between;*/
  /*flex-wrap: wrap;*/

  margin-left: -30px;
  margin-top: -30px;
}
.advantage {
  min-width: 270px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  background: var(--main-background);
}

.topic {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--heading-color);

  margin-bottom: var(--margin-bottom-studia);
}
.content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--tel_link-color);
}
.pictures-advantage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--our_team-background);
}

.advantage-icon {
  width: 70px;
  height: 70px;
}

/*.wrapper-advantage {
  display: flex;
  align-items: center;
}*/

/* ==== END ADVATAGE === */
/*==== ABOUT =========*/

.about-us {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.list-about-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  display: flex;
  align-items: center;
}

.about {
  padding-top: 47px;
  padding-bottom: 94px;
  text-align: center;
}
.about .list {
  display: flex;
  justify-content: space-between;
}

.accupancy {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--heading-color);

  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.about .accupancy {
  margin-left: 30px;
  position: relative;
}
.image-description {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;
  width: 100%;

  color: var(--main-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*==== END ABOUT =========*/

/*======= OUR TEAM ========*/
.our-team-title {
  display: block;

  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: -30px;
  margin-top: -30px;
  /* justify-content: space-between; */
}

.team-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our_team {
  background: var(--our_team-background);
  padding-top: 94px;
  padding-bottom: 94px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;

  color: var(--heading-color);

  margin-bottom: 10px;
}
.occupation {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;

  color: var(--tel_link-color);
}
.team-list-content-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  background-color: var(--main-background);
}
.icon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.icon-list-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our_team .icon-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.team-icons {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);
}
.icon-items-link:focus,
.icon-items-link:hover {
  background-color: var(--accent-color);
}

.icon-items-link:focus .team-icons,
.icon-items-link:hover .team-icons {
  fill: var(--main-color);
}
.icon-items-link {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--main-color);

  transition: color 250ms var(--timing-function);
}
/*======= END OUR TEAM ========*/
/*===== PERMANENT CLIENTS =====*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
}

.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -50px;
  margin-left: -30px;
}
.items {
  /* -li- */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 50px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icon-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link {
  /*-a-*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  fill: var(--icon-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
}
.items:hover,
.clients-logo .items:focus,
.clients-logo {
  border-color: var(--accent-color);
}
.clients-logo {
  /* svg */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*===========END PERMANENT CLIENTS==========*/
/*===== FOOTER =======*/
.foter-wraper:not(:last-child) {
  margin-right: 70px;
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--second-background);
}
.address {
  margin-top: 20px;
}
.logo-link-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-color);
}

.contacts-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-color);

  transition: color 250ms var(--timing-function);
}

.address-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.list-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mail_link-tel-color);
}
.fotter-link {
  margin-left: 70px;
}
/*---- Subscribe ----*/
.subscribe {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.subscribe-list {
  display: flex;
}
.subscribe-list-item {
  margin-right: 10px;
}
.subscribe-list-item :not(:last-child) {
  margin-right: 10px;
}

.subscribe-list-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  justify-content: center;
  align-items: center;
  fill: var(--main-color);
  background: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--timing-function);
}
.subscribe-list-icon {
  width: 20px;
  height: 20px;
}
.subscribe-list-link:hover,
.subscribe-list-link:focus {
  background-color: var(--accent-color);
}

/*----- Invitation ----*/
.invitation-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer .icon-list {
  display: flex;
}

.footer-wraper:nth-child(1) {
  margin-right: 70px;
}
.footer-wraper:nth-child(2) {
  margin-right: 93px;
}

.icon-list-items:not(:last-child) {
  margin-right: 10px;
}

.footer .icons-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-icons {
  fill: var(--main-color);
}

.signup-wrap {
  align-items: center;
}

.footer form {
  display: inline-block;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  margin-right: 12px;
  text-align: center;
}

.footer input {
  background-color: var(--second-background);
  border: none;
  color: var(--main-color);
  outline: none;
  width: 100%;
}

.footer .footer-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.signup-wrap .footer-icons {
  margin-left: 10px;
}

.footer-btn {
  display: inline-flex;
  margin: 0 auto;
  padding: 10px 28px 10px 29px;
  align-items: center;
  text-align: center;
  min-width: 200px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: var(--main-font);
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--transition-function);
}

/*===== END FOOTER ======*/
/*====== PORTFOLIO ========*/
/*Portfolio button*/
.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.nav-portfolio {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.list-btn-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: 8px;
  margin-top: 8px;
  text-align: center;

  justify-content: center;
  /* raspologaet elementi på centry */

  margin-bottom: 50px;
  align-items: center;
}
.btn-portfolio:not(:last-child) {
  margin-right: 8px;
}
/*.portfolio-btn {
  flex-basis: calc(100% / 5 - 8px);
  margin-left: 8px;
  margin-top: 8px;
}*/
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  /* justify-content: space-between; */
}

.portfolio-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio {
  background: var(--main-background);
}

.portfolio-btn {
  display: inline-block;
  text-align: center;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;

  color: var(--nav_link-color);
  background: var(--our_team-background);

  display: flex;
  justify-content: center;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

  /*transition-property: bckground-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--our_team-background);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*Portfolio items*/

.img-titel {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--heading-color);
}
.img-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--tel_link-color);
}
.portfolio-list-content-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  display: block;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-content-wrapper {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolio-link {
  display: block;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: 250ms var(--timing-function);
}
.portfolio-link:hover .card-overlay {
  transform: translateY(0);
}
.portfolio-link {
  transition: 250ms var(--timing-function);
}

.card-content {
  display: block;
  padding: 63px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;

  letter-spacing: 0.03em;
  color: var(--main-color);
}

/*====== END PORTFOLIO ========*/

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-background);
  opacity: 1;

  transition: opacity 250ms var(--transition-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal-window {
  transform: scale(0.8) translate(-50%, -50%);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--main-color);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);

  transition: transform 250ms var(--transition-function);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 6px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
}
.close-button {
  fill: currentColor;
  transition: fill 250ms var(--transition-function);
}

.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
}
.form-slogan {
  text-align: center;
  font-weight: 700;
  line-height: 1.15;
  font-size: 20px;
  letter-spacing: 0.03em;

  color: var(--nav_link-color);
  margin-top: 40px;
  margin-bottom: 12px;
}
.sign-form {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.form-content {
  flex-direction: column;
  display: flex;
  position: relative;
  margin-bottom: 10px;
}
.sign-form-label {
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--tel_link-color);
}
.sign-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;

  transition: border-color 250ms var(--transition-function);
}
.sign-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.sign-icon-form {
  top: 50%;
  left: 12px;
  position: absolute;
  fill: currentColor;

  transition: fill 250ms var(--transition-function);
}
.sign-form-input:focus + .sign-icon-form {
  fill: var(--accent-color);
}
.sign-comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: border-color 250ms var(--transition-function);
}

.sign-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.sign-comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.sign-form-checkbox {
  margin-bottom: 30px;
  font-family: var(--main-font);
  color: var(--tel_link-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}
.sign-form-checkbox::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--nav_link-color);
  cursor: pointer;
  margin-right: 8px;
  border-radius: 2px;
  display: block;

  transition: box-shadow 250ms var(--transition-function);
}

.sign-checkbox:checked + .sign-form-checkbox::before {
  border: none;
  background-image: url("../images/full-check.svg");
  background-color: var(--accent-color);
}

.sign-checkbox:focus + .sign-form-checkbox::before {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.agree-link {
  color: var(--accent-color);
}

.modal-form-btn {
  font-family: var(--main-font);
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  margin: 0 auto;
  padding: 10px 55px;
  align-items: center;
  text-align: center;
  min-width: 200px;
  background-color: var(--accent-color);
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--transition-function);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188ce8;
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
